@charset 'utf-8';

/*
 * Apple San Francisco - Display
 */

@font-face{
  font-family:  SFNSDisplay;
  font-weight:  100;
  src:          local('.SFNSDisplay-Ultralight');
}

@font-face{
  font-family:  SFNSDisplay;
  font-weight:  200;
  src:          local('.SFNSDisplay-Thin');
}

@font-face{
  font-family:  SFNSDisplay;
  font-weight:  400;
  src:          local('.SFNSDisplay-Regular');
}

@font-face{
  font-family:  SFNSDisplay;
  font-weight:  500;
  src:          local('.SFNSDisplay-Medium');
}

@font-face{
  font-family:  SFNSDisplay;
  font-weight:  600;
  src:          local('.SFNSDisplay-Semibold');
}

@font-face{
  font-family:  SFNSDisplay;
  font-weight:  700;
  src:          local('.SFNSDisplay-Bold');
}

@font-face{
  font-family:  SFNSDisplay;
  font-weight:  800;
  src:          local('.SFNSDisplay-Heavy');
}

@font-face{
  font-family:  SFNSDisplay;
  font-weight:  900;
  src:          local('.SFNSDisplay-Black');
}

/*
 * Apple San Francisco - Text
 */

@font-face{
  font-family:  SFNSText;
  font-weight:  100;
  src:          local('.SFNSText-Ultralight');
}

@font-face{
  font-family:  SFNSText;
  font-weight:  200;
  src:          local('.SFNSText-Thin');
}

@font-face{
  font-family:  SFNSText;
  font-weight:  300;
  src:          local('.SFNSText-Light');
}

@font-face{
  font-family:  SFNSText;
  font-weight:  400;
  src:          local('.SFNSText-Regular');
}

@font-face{
  font-family:  SFNSText;
  font-weight:  500;
  src:          local('.SFNSText-Medium');
}

@font-face{
  font-family:  SFNSText;
  font-weight:  600;
  src:          local('.SFNSText-Semibold');
}

@font-face{
  font-family:  SFNSText;
  font-weight:  700;
  src:          local('.SFNSText-Bold');
}

@font-face{
  font-family:  SFNSText;
  font-weight:  800;
  src:          local('.SFNSText-Heavy');
}

@font-face{
  font-family:  SFNSText;
  font-weight:  900;
  src:          local('.SFNSText-Black');
}
