@charset 'utf-8';

@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');

/*
 * Definitions of var(--jp-sans-serif)
 */

:root {
  --font-system:      -apple-system, system;
  --font-yu-gothic:   '游ゴシック', 'Yu Gothic', YuGothic;
  --font-apple-sans:  'Helvetica Neue',
                      'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'HiraKakuProN-W3';
  --font-google-sans: Roboto, 'Noto Sans CJK JP', 'Noto Sans Japanese';
  --font-ms-sans:     'メイリオ', Meiryo;
  --jp-sans-serif:    var(--font-system),
                      var(--font-yu-gothic),
                      var(--font-apple-sans),
                      var(--font-google-sans),
                      sans-serif;
}
