@charset 'utf-8';

@import url('https://fonts.googleapis.com/earlyaccess/sawarabimincho.css');

/*
 * Definitions of var(--jp-serif)
 */

:root {
  --font-yu-mincho:     '游明朝', 'Yu Mincho', YuMincho;
  --font-apple-serif:   Garamond,
                        'ヒラギノ明朝 ProN W3' , 'Hiragino Mincho ProN', 'HiraMinProN-W3';
  --font-google-serif:  'Sawarabi Mincho';
  --jp-serif:           var(--font-yu-mincho),
                        var(--font-apple-serif),
                        var(--font-google-serif),
                        serif;
}
