@charset 'utf-8';

@import './components/sans-serif';
@import './components/serif';
@import './components/monospace';

html {
  font-weight:    400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing:   antialiased;
  -moz-osx-font-smoothing:  grayscale;
}

.jp-font--sans-serif,
[data-jp-font='sans-serif'] {
  font-family: var(--jp-sans-serif);
}

.jp-font--serif,
[data-jp-font='serif'] {
  font-family: var(--jp-serif);
}

.jp-font--monospace,
[data-jp-font='monospace'] {
  font-family: var(--jp-monospace);
}
