@charset 'utf-8';

@import './components/sans-serif';
@import './components/serif';
@import './components/monospace';

html {
  font-weight:    400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing:   antialiased;
  -moz-osx-font-smoothing:  grayscale;
}
