@charset 'utf-8';
@import './japanese-fonts';

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 1rem;
}

@media (min-width: 60rem) {
  body {
    flex-wrap: nowrap;
  }
}

section[data-jp-fonts] {
  flex-grow: 1;
  flex-basis: 40rem;
  padding: 0 1rem;
}

@media (min-width: 40rem) {
  section[data-jp-fonts] {
    flex-grow: 0;
  }
}

[data-jp-fonts='sans-serif'] {
  font-family: var(--jp-sans-serif);
}

[data-jp-fonts='serif'] {
  font-family: var(--jp-serif);
}

[data-jp-fonts='monospace'] {
  font-family: var(--jp-monospace);
}
